@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --color-white:#fff;
    --color-light-bleu : #e6f0f1;
    --color-gallery:#8d8c8c;
    --color-scooter: #25bfcf;
    --font-size:16px;
    --font-family-inter: 'Inter', sans-serif;
    --font-weight-regular: 600;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 900;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    height: auto;
    font-size: var(--font-size);
    font-family: var(--font-family-inter);
    background-color: var(--color-light-bleu);
    overflow-x: hidden;
}

#RegistrationCard {
    width:420px;
    padding:20px;
    margin: 50px 0;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.15);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#RegistrationCard .logo img {
    display: block;
    margin-left: 50px;
    margin-bottom: 15px;
}

#RegistrationCard h1 {
    font-size: 36px;
    text-align: center;
}

#RegistrationCard .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 5px;
}

#RegistrationCard input {
    width: 100%;
    height: 100%;
    outline: none;
    background:transparent;
    border: none;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 40px;
    font-size: var(--font-size);
    padding: 20px 40px 20px 20px;
}

.input-box input::placeholder {
    color: var(--color-gallery);
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}


#RegistrationCard .submit-button {
    width: 100%;
    height: 50px;
    background-color: var(--color-white);
    color: var(--color-scooter);
    border: none;
    border-radius: 40px;
    font-size: 18px;
    font-weight: var(--font-weight-bold);
    cursor: pointer;
    margin: 20px 0;
}

#RegistrationCard .login-link {
    text-align: center;
    margin-top: 20px;
}
